:root{
    --darkfont:#1E1E1E;
    --green:#65EC62;
    --red:#CE4D4D;
    --light-red :#F2B9A6;
    --white: #FFFFFF;
}
body {
    position: relative;
    background: #F2B9A6;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.bank-user-actions{
    height: 300px;
    width: 300px;
    background-color:var(--white);
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}
.headers{
    background-color: var(--red);
    height: 35px;
    color: var(--darkfont);
    position: relative;
    text-align: center;
    margin-top: -20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.work{
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 300px;
    width: 300px;
    background-color: var(--white);
    border-radius: 20px;
}
.laptop-selection{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    height: 300px;
    width: 300px;
    background-color: var(--white);
    border-radius: 20px;
}
.laptop-info{
    margin: 1rem;
    height: 300px;
    width: 800px;
    background-color:var(--white);
    display: flexbox;
    padding: 2rem 2rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
.paragraphs{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#description{
    font-size: large;
    position: relative;
    height: 250px;
    width: 250px;
    text-align: center;
}
#price{
    position: absolute;
    margin-top: 100px;
    margin-left: 155px;
    border: 1px;
    height: 50px;
    width: 245px;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#remaining-loan{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:none;
}
#remaining-loan-amount{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:none;
}
#repay-loan{
    background-color: #75f65e;
    border-color: #75f65e;
    color: #1E1E1E;
    height: 80px;
    width: 80px;
    margin-left: 73px;
    display: none;
}
#work{
    background-color: #4974d1;
    border-color: #4974d1;
    color: var(--white);
    height: 80px;
    width: 80px;
    
}
#bank{
    background-color: #f6f45e;
    border-color: #f6f45e;
    color: #1E1E1E;
    height: 80px;
    width: 80px;
}
#getLoan{
    background-color: #65EC62;
    border-color: #65EC62;
    color: #1E1E1E;
    height: 80px;
    width: 170px;
    margin-top: 80px;
    position: relative;
    align-self: center;
}

#bank-balance{
    margin-top: 30px;
    margin-left: -40px;
}
#balance-amount{
    margin-left: 230px;
    margin-top: -45px;
    margin-right: 20px;
}

#work-payment{
    margin-top: 30px;
    margin-left: -40px;
}
#payment-amount{
    margin-left: 240px;
    margin-right: 20px;
}
#buy-now{
    position: absolute;
    margin-top: 200;
    margin-left: 550px;
    border: 1px;
    height: 70px;
    width: 245px;
    background-color:var(--red);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 
#image{
    position: relative;
    margin-right: 600px;
}